# === PostgreSQL - Hub Central ===
POSTGRES_HOST=postgres-hub
POSTGRES_PORT=5432
POSTGRES_DB=banque_hub
POSTGRES_USER=banque_admin
POSTGRES_PASSWORD=your_password_here

# === MySQL - Credits & Risque ===
MYSQL_HOST=mysql-credit
MYSQL_PORT=3306
MYSQL_DB=banque_credit
MYSQL_USER=credit_user
MYSQL_PASSWORD=your_password_here
MYSQL_ROOT_PASSWORD=your_root_password_here

# === SQL Server - Comptabilite & RH ===
MSSQL_HOST=mssql-compta
MSSQL_PORT=1433
MSSQL_DB=banque_compta
MSSQL_USER=sa
MSSQL_PASSWORD=your_password_here
MSSQL_SA_PASSWORD=your_password_here

# === Backend FastAPI ===
FASTAPI_HOST=fastapi-backend
FASTAPI_PORT=8000
DATABASE_URL_POSTGRES=postgresql+asyncpg://banque_admin:your_password_here@postgres-hub:5432/banque_hub
DATABASE_URL_MYSQL=mysql+aiomysql://credit_user:your_password_here@mysql-credit:3306/banque_credit

# === Frontend ===
FRONTEND_HOST=react-frontend
FRONTEND_PORT=3000
VITE_API_URL=http://localhost:8000/api

# === Federation ===
FDW_MYSQL_HOST=mysql-credit
FDW_MYSQL_PORT=3306
FDW_MYSQL_DB=banque_credit
FDW_MYSQL_USER=fdw_user
FDW_MYSQL_PASSWORD=your_password_here

FDW_MSSQL_HOST=mssql-compta
FDW_MSSQL_PORT=1433
FDW_MSSQL_DB=banque_compta
FDW_MSSQL_USER=fdw_user
FDW_MSSQL_PASSWORD=your_password_here
